@charset "utf-8";
/* CSS Document */

/* override DOM elements */
body{ padding:0px; margin:0 auto; background:#fff; font-family:Arial, Helvetica, sans-serif;}
ul { margin:0px;}
a { color:#0000FF;}
a.visited{ color:#0000FF;}
p {font-size:14px;}
input {padding:0px; margin:0px;}

/* end override DOM elements */


/* custom css classes */
.body{width:840px; border:thin; border-color:#000000; border-style:solid; padding:10px;text-align:left; margin:0 auto; background-color:#FFFFFF; margin-top:10px; position:relative;}
.header{ 
		background-color:#FFF;
		border:thin solid #000000;
		padding-left:10px;
		padding-right:10px;
		padding-top:10px;
		font-size:48px;
		height:100px;
}
.header ul li{ list-style:none; float:left; padding:10px; }

.subheader{ font-size:24px;}
.element{ font-size:18px;}
.menu{ padding:0px; margin:0px; font-size:18px;}
.logo{ float:left; width:45px; height:20px;}
.main{ border:thin; border-color:#000000; border-style:solid; background-color:#FFF; padding:10px; }
.footer{ border:thin; border-color:#000000; border-style:solid; background-color:#FFFFFF; font-size:12px; text-align:center; padding:20px;}
.panel{ border:thin; border-color:#000000; background-color:#FFFFFF; border-style:solid; padding-left:10px; padding-top:10px; padding-right:10px;overflow:visible; display:none; padding-bottom:10px;}
/* end custom css classes */

/* code highlighting */
pre{ background-color:#CCC; color:#222; padding-left:50px;   padding-top:20px; padding-bottom:20px;}
/* end code highlighting */



/* contextual help */
#helpBox{ width:125px; height:75x; background-color:#000000; color:#CCCCCC; display:none; font-size:12px;}
/* end contextual help */

/* panels */
	#Why p{ font-size:18px;}
	#Download p{  font-size:18px;}
	#account{  background-color:#CC99FF;}
	#applications{  background-color:#33FF66;}
	#websites{ background-color:#99FFFF;}
	#search{ background-color:#00FFFF;}
	
/* end panels */

/* components */
	#magicBarInput{ width:918px;}
	#searchButton{width:18px;}
	.photoFrame{ text-align:center;}
	.photo{ height:300px;}
/* end components */



/* templates */
.has_children{display:none;}
.expand_children{text-align:left; font-size:24px; cursor:pointer;}
/* end templates */

h1, h2 {padding-left:15px;}